.App {
  font-size: 20px;
  text-align: center;
  background-color: #ffffff;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1600 900'%3E%3Cdefs%3E%3ClinearGradient id='a' x1='0' x2='0' y1='1' y2='0'%3E%3Cstop offset='0' stop-color='%230FF'/%3E%3Cstop offset='1' stop-color='%23CF6'/%3E%3C/linearGradient%3E%3ClinearGradient id='b' x1='0' x2='0' y1='0' y2='1'%3E%3Cstop offset='0' stop-color='%23F00'/%3E%3Cstop offset='1' stop-color='%23FC0'/%3E%3C/linearGradient%3E%3C/defs%3E%3Cg fill='%23FFF' fill-opacity='0' stroke-miterlimit='10'%3E%3Cg stroke='url(%23a)' stroke-width='2'%3E%3Cpath transform='translate(0 0)' d='M1409 581 1450.35 511 1490 581z'/%3E%3Ccircle stroke-width='4' transform='rotate(0 800 450)' cx='500' cy='100' r='40'/%3E%3Cpath transform='translate(0 0)' d='M400.86 735.5h-83.73c0-23.12 18.74-41.87 41.87-41.87S400.86 712.38 400.86 735.5z'/%3E%3C/g%3E%3Cg stroke='url(%23b)' stroke-width='4'%3E%3Cpath transform='translate(0 0)' d='M149.8 345.2 118.4 389.8 149.8 434.4 181.2 389.8z'/%3E%3Crect stroke-width='8' transform='rotate(0 1089 759)' x='1039' y='709' width='100' height='100'/%3E%3Cpath transform='rotate(0 1400 132)' d='M1426.8 132.4 1405.7 168.8 1363.7 168.8 1342.7 132.4 1363.7 96 1405.7 96z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  background-attachment: fixed;
  background-size: cover;
  /* background-color: #74EBD5;
  background-image: linear-gradient(120deg, #74EBD5 0%, #9FACE6 100%); */
  
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.nav-bar {
  /* border-style: groove; */


}

.nav-bar ul {
  display: flex;
  align-self: baseline;

}

.nav-bar li {
  display: inline;
  float: left;

}

.nav-bar a {
  display: block;
  padding: 8px;
  background-color: #dddddd;
  max-width: 100%;
  background-color: transparent;
}

/* .intro-flex{
  display: flex;

}

.intro-flex .avatar{
  width: 30%;
  height: 100px; 
  border-radius: 20rem;
  border-color: black;
  background-color: yellow;
  transform:skew(0deg);
  margin: 10rem;
}

.intro-flex .skills{
  border-style:dotted;
  width: 70%;
} */
.body-flex {
  display: flex;
  flex-direction: column;
  gap: 5rem;

}

.grid-body {
  display: grid;
  grid-template-columns: 30% 70%;
  border-style: double;
  border-radius: 2%;
}

.grid-body .avatar {
  display: flex;
  /* border-style: dotted; */
  /* border-color: pink; */
  width: 200px;
  height: 300px;
  overflow: hidden;
  border-radius: 10%;
  /* border-color: black;
  background-color: yellow; */
  /* transform: skew(0deg); */
  margin: auto;
  padding: 1rem 1rem;
}

.avatar .img {
  display: flex;
  max-width: 100%;
  max-height: 100%;
  object-fit: fill;
  overflow: hidden;
  clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
}

.grid-body .skills {
  /* border-style: dashed;
  border-color: blue; */
  padding: 1rem 1rem;
}

.icon {
  display: inline-block;
  padding: inherit;
  width: 24px;
  height: 24px;
}

.icon #about-me {
  width: 100px;
  height: 100px;
}

.skills{
  text-align: left;
}

.container{
  border-style: solid;
  border-color:black;
  background-color:#ddecf1;
  border-radius: 2%;


}

.footer-content{
  border-color: #282c34;
  border-style: solid;
  border-radius: 5%;
}


.footer-items{
  display: flex;
  column-gap: 2rem;
  list-style: none;
  
}

.footer-a{
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  text-decoration: none;
  font-size: 1.5rem;
}

.email{
  display:flex;
}

.email-address{
  margin:2px;
  margin-left: 5px;
  
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

/* Styles for screens smaller than 600px */
@media (max-width: 600px) {
  .box {
    width: 100%;
    /* Take up full width on small screens */
    height: 150px;
    font-size: 16px;
  }
}

/* Styles for screens between 601px and 1200px */
@media (min-width: 601px) and (max-width: 1200px) {
  .box {
    width: 30%;
    /* Adjust width as per your design */
    height: 250px;
    font-size: 18px;
  }
}

/* Styles for screens larger than 1200px */
@media (min-width: 1201px) {
  .box {
    width: 20%;
    /* Adjust width as per your design */
    height: 300px;
    font-size: 20px;
  }
}